/* @import url('./reset.css'); */

article{
    width: 50%;
    margin: 100px auto;
    line-height: 2;
}
article > p{
    white-space: pre-line;
    background-color: antiquewhite;
    padding: 30px;
}

.pos-r{
    position: relative;
    left: 100px; top: -30px;
   /*  border: 1px solid red; */
}
.pos-r img{
    width: 100%;
}
.pos-r > a{
    position: absolute;
    top:0; right: 0;
    background-color: rgb(250, 249, 245);
    color:rgb(250, 7, 60);
    font-size: 50px;
    width: 40px; height: 40px;
    line-height: 30px;
    text-align: center;
    transition: width 1s, height 1s;
}
.pos-r:hover > a{
    background-color: rgb(88, 197, 88);
    width: 100%;
    height: 100%;
    line-height: 300px;
}

.pos-a{
    background-color: aqua;
    color: rgb(252, 5, 5);
    padding: 60px;
    border-radius: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.pos-f{
    background-color: rgb(10, 10, 10);
    width: 10%; height: 100%;
    position:fixed;
    left: 0; top:0;
    display: flex;
    flex-direction: column; /* 방향이 바뀌면 명령이 바뀜 */
    justify-content: center;
    align-items: center;
}
.pos-f a{
    color: rgb(247, 247, 252);
}

.pos-s{
    display: flex;
}
.pos-s div:nth-child(1){
    width: 30%; /* height: 100px; height를 주면 파일명이 고정가능 */ 
    position: sticky;
    top: 100px;
}
.pos-s div:nth-child(2){width: 70%;}
.pos-s div:nth-child(2) p{
    position: sticky;
    top: 100px;
}
.pos-s div:nth-child(2) img{width: 100%;}

.ex{}
.ex > div{
    width: 30%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}
.ex > div > img{
    width: 100%;
}
.ex > div > p{
    background-color: rgb(241, 21, 21);
    padding: 5px 5px;
    color: white;
    position: absolute;
    left: -200px; top: -20px;
    transition: 0.5s;
}
.ex > div:hover > p{left: 0;}


.ex1{
    width: 300px;
    background-color:ivory;
    border: 1px solid black;
    text-align: center;
    border-radius: 30px;
    overflow: hidden;
    position: fixed;
    right: 30px; bottom: -200px ;
    transition: 1s;
}
.ex1 > h2{
    margin: 0;
    padding: 5px 0;
    background-color:cornflowerblue;
    color: white;
    position: relative;
    top: -10px; right: 0;
}
.ex1 > div > a{
    position: absolute;
    top:-10px; right: 35px;
    font-size: 30px;
    color: white;
}
.ex1 > div{
    top: 20px;
}
.ex1:hover{
    bottom: -5%;
}