.bot {
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
  font-size: 50px;
}
.bot > h2{
  margin-top: 10px;
  color: palevioletred;
}
.bot > h2 > b{
  font-size: 20px;
}
.pop{
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 150px auto;
  border: 1px solid pink;
  border-radius: 20px;
  display: none;
  cursor: pointer;
}
.fa-regular{
  margin-left: 300px;
}
.pop > h2{
  color: palevioletred;
}
.pop .out{
  margin-left: 100px;
}
.pop > ul{
  list-style: none;
  
}
.pop > ul > li{
  border: 1px solid pink;
  border-radius: 20px;
  margin: 30px 500px 0 0;
  padding: 10px;
}
.pop > ul > li:nth-of-type(2n){
  background-color: beige;
  margin-right: 20px;
  margin-left: 500px;
}
.pop .day{
  margin: 0px 0px 0 10px;
}
.pop .day:nth-of-type(2n){
  margin-top: 0px;
  margin-right: 20px;
  margin-left: 510px;
}
.pop > form {
  width: 100%;
  display: flex;
    justify-content: space-between;
    align-items: center;
}

.pop > form > input{
  margin: 20px 10px;
  padding: 10px;
  width: 350px;
  border: 3px solid pink;
  border-radius: 20px;
}
.pop > form > button{
  border: 3px solid pink;
  border-radius: 20px;
  padding: 9px;
  background-color: white;
  margin-right: 15px;
}